[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
hydra_client = {git = "https://github.com/hydraplatform/hydra-client-python.git",ref = "master"}
hydra_base = {git = "https://github.com/hydraplatform/hydra-base.git", ref = "master"}
hydra_network_utils = {git = "https://github.com/hydraplatform/hydra-network-utils.git",ref = "master"}
fiona = "*"
shapely = "*"
openpyxl = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
